*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 150px;
    width: 100%;
    background-color: rgb(138, 135, 135);
    /* display: flex;
    flex-direction: column; */
    /* position: fixed; */
    
}
.nav1{
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 30px;
    
}
.nav1 i{
    color: white;
     
}
.nav1 i:hover{
    color: blue;
}
.nav1 ul li:hover{
    color: blue;
    text-decoration: underline;
}
.nav1 ul{
    display: flex;
    gap: 30px;
    color: white;
    list-style: none;
   
}
.nav2 ul li{
   
}

.nav2{
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
   
}
.logo{
    width: 30%;
    height: 100px;
    background-color: rgb(124,193,16);
    display: flex;
    align-items: center;
    justify-content: center;
}
.list{
    width: 70%;
    height: 100px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;

}
.list ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
}
.list ul li{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.list ul li:hover{
   color: rgb(21, 204, 21);
}
.list ul li i{
    color: green;
    font-size: 25px;
}
.list i{
    font-size: 25px;
}


.main-container{
    width: 100%;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */


}
.container1{
    height: 700px;
    width: 100%;
    /* background-color: black; */
    /* border: 2px solid black; */
    /* margin-top: 60px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top:30px ; */
    /* padding: 50px; */
}
.card{
    height: 600px;
    width: 85%;
    display: flex;
}
.img1{
    width: 100%;
    height: 600px;
    background-color: aquamarine;
    /* background-image: url(./csm_20220216_Solar_Engineers_AdobeStock_358826225_AS_Photo_Project_4a921e6c13.jpg); */
    background-image: url(./Screenshot\ 2024-10-22\ 021232.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: start;
    padding: 30px;


}
img a{

}
.img1 a{
    color: white;
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.img1 a:hover{
    color: rgba(245, 243, 243, 0.471);
    text-decoration: underline;
    
}
.img{
    width: 40%;
    height: 600px;
    /* background-color: blue; */
    
}
.img-1{
    height: 300px;
    width: 90%;
    background-color: beige;
    background-image: url(./images.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: start;
    padding: 20px;

}
.img-1 a{
    color: white;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}
.img-1 a:hover{
    color: rgba(245, 243, 243, 0.471);
    text-decoration: underline;
    
}
.img-2{
    height: 300px;
    width: 90%;
    background-color: rgb(187, 187, 27);
    background-image: url(./Screenshot\ 2024-10-19\ 215658.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: start;
    padding: 30px;

}
.img-2 a{
    color: white;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}
.img-2 a:hover{
    color: rgba(245, 243, 243, 0.471);
    text-decoration: underline;
    
}
.container2{
    height: 500px;
    width: 100%;
    background-color: rgb(238,244,228);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.heading{
    width: 90%;
    height: 100px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: start;
    

}
.heading h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.parts{
    width: 90%;
    height: 400px;
    display: flex;
    
    /* background-color: aqua; */
}
.part1{
    width: 50%;
    height: 300px;
    display: flex;
    gap: 20px;
    padding: 10px;

}
.text{
    width: 100%;
    height: 300px;
    /* background-color: blue; */
}
.text a{
    color: rgb(21, 154, 163);
    font-size: 27px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.text a:hover{
    text-decoration: underline;
}
.text p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
    font-size: 20px;
}
.text p a{
    color: rgb(20, 161, 147);
}

.img{
    width:100%;
    height: 300px;
    /* background-color: blue; */
}
.img img{
    height: 250px;
    width: 80%;
    margin-top: 20px;
    
}
.part2{
    width: 50%;
    height: 300px;
    border-left: 2px solid rgb(164, 162, 162);
    /* background-color: black; */
    gap: 20px;
    padding: 40px;
    position: relative;
    bottom: 30px;
    
    
    
    
}
.img2{
    width:100%;
    height: 300px;
    /* background-color: blue; */
}
.img2 img{
    height: 200px;
    width: 50%;
    /* margin-top: 20px; */
    position: relative;
    right: -250px;
    bottom:120px;
}
.text2 a{
    color: rgb(21, 154, 163);
    font-size: 27px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    
}
.text2 a:hover{
    text-decoration: underline;
}
.text2 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
    font-size: 20px;
}
.text2 p a{
    color: rgb(20, 161, 147);
}


.container3{
    height: 600px;
    width: 100%;
    /* background-color: aquamarine; */
    padding: 30px;
}
.head{
    height: 100px;
    width: 100%;
    /* background-color: black; */
    padding: 40px;

}
.head h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}
.head h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 10px;
    color: rgb(47, 89, 240);
}
.head h4:hover{
    color: rgb(107, 105, 105);

    
}
.box-sec{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.box-1{
    height: 250px;
    width: 30%;
    background-color: aqua;
    background-image: url(./dark-matter-map_1600.jpg);
    background-position: center;
    background-size: cover;
}

.card1{
    height: 150px;
    width: 80%;
    background-color: white;
    position: relative;
    top: 170px;
    left: 60px;
    padding: 20px;
   
}
.card1 a{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.card1 a:hover{
    text-decoration: underline;

}
.card1 h5{
    color: rgb(98, 96, 96);
    margin-top: 20px;
}
.card1 h5:hover{
    color: black;
}
.box-2{
    height: 250px;
    width: 30%;
    background-color: aqua;
    background-image: url(./22128342819_6e012b8336_z.jpg);
    background-position: center;
    background-size: cover;
}

.card2{
    height: 150px;
    width: 80%;
    background-color: white;
    position: relative;
    top: 170px;
    left: 60px;
    padding: 20px;
}
.card2 a{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.card2 a:hover{
    text-decoration: underline;

}
.card2 h5{
    color: rgb(98, 96, 96);
    margin-top: 20px;
}
.card2 h5:hover{
    color: black;
}
.box-3{
    height: 250px;
    width: 30%;
    background-color: aqua;
    background-image: url(./Thumbnail_100324-blog-dune.jpg);
    background-position: center;
    background-size: cover;
}

.card3{
    height: 150px;
    width: 80%;
    background-color: white;
    position: relative;
    top: 170px;
    left: 60px;
    padding: 20px;
}
.card3 a{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.card3 a:hover{
    text-decoration: underline;

}
.card3 h5{
    color: rgb(98, 96, 96);
    margin-top: 20px;
}
.card3 h5:hover{
    color: black;
}

.container4{
    height: 600px;
    width: 100%;
    padding: 20px;

}
.head-sec{
    height: 100px;
    width: 100%;
    padding: 30px;
    
}
.head-sec h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}
.head-sec h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-top: 10px;
    color: rgb(47, 89, 240);
}
.head-sec h4:hover{
    color: rgb(107, 105, 105);

    
}
.paragraph{
    height: 500px;
    width: 100%;
    display: flex;
    padding: 20px;
    gap: 40px;
    
}
.para-sec1{
    height: 400px;
    width: 50%;
    padding: 40px;
    /* border-top: 1px solid black; */
    /* border-bottom: 1px solid black; */
   

}
.para-sec1 hr{
    width: 100%;
    margin-bottom:30px ;
}
.a1{
    height: 200px;
    width: 100%;
    
}

.a1 a{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
    
}
.a1 a:hover{
    text-decoration: underline;
    color: rgb(90, 89, 89);
}
.a2{
    height: 200px;
    width: 100%;
}
.a2 a{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin-top: 30px;
    text-decoration: none;

}
.a2 a:hover{
    text-decoration: underline;
    color: rgb(90, 89, 89);
}
.para-sec2{
    height: 500px;
    width: 50%;
    margin-top: 30px;
}
.para-sec2 hr{
    width: 100%;
    margin-bottom:30px ;
}
.a3{
    height: 200px;
    width: 100%;
    
}

.a3 a{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
    
}
.a3 a:hover{
    text-decoration: underline;
    color: rgb(90, 89, 89);
}
.a4{
    height: 200px;
    width: 100%;
}
.a4 a{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin-top: 30px;
    text-decoration: none;

}
.a4 a:hover{
    text-decoration: underline;
    color: rgb(90, 89, 89);
}


.container5{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.h1{
    height: 100px;
    width: 100%;
    padding: 70px;
}
.h1 h1{
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.square-box{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.squ-box1{
    height: 300px;
    width: 20%;
    /* border: 2px solid black; */
    background-image: url(./box1\ Gula_29_jan_2008_0940Z.jpg);
    background-position: center;
    background-size: cover;
    
}
.squ-box1 h2{
    font-size: 35px;
    color: white;
    background-color: rgba(0, 0, 0, 0.637);
    padding: 30px;
}
.squ-box2{
    height: 300px;
    width: 20%;
    /* border: 2px solid black; */
    background-image: url(./box\ 2\ \ AdobeStock_293755031-scaled.jpeg);
    background-position: center;
    background-size: cover;
}
.squ-box2 h2{
    font-size: 35px;
    color: white;
    background-color: rgba(0, 0, 0, 0.637);
    padding: 30px;
}
.squ-box3{
    height: 300px;
    width: 20%;
    /* border: 2px solid black; */
    background-image: url(./box\ 3\ \ \ Indian-Energy-Internship-e1628518178456.jpg);
    background-position: center;
    background-size: cover;
}
.squ-box3 h2{
    font-size: 35px;
    color: white;
    background-color: rgba(0, 0, 0, 0.637);
    padding: 30px;
}
.squ-box4{
    height: 300px;
    width: 20%;
    /* border: 2px solid black; */
    background-image: url(./box4\ \ \ 62a868e806ad9WhatsApp\ Image\ 2022-06-14\ at\ 4.16.25\ PM.jpeg);
    background-position: center;
    background-size: cover;
}
.squ-box4 h2{
    font-size: 35px;
    color: white;
    background-color: rgba(0, 0, 0, 0.637);
    padding: 30px;
}
.container6{
    width: 100%;
    height: 300px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.rectangle{
    width: 85%;
    height: 150px;
    background-color: rgb(59, 58, 58);
    box-shadow: -16px 16px 0 10px  rgb(12, 159, 175);
    display: flex;

}
.rec-1{
    width: 50%;
    height: 100px;
    padding: 20px;
}
.rec-1 h1{
    color: white;
}
.rec-1 p{
    color: white;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.rec-2{
    width: 50%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    margin-top: 20px;
}
.rec-2 input{
    height: 40px;
    width: 70%;
    padding: 20px;

}

.rec-2 button{
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.rec-2 button:hover{
    
    background-color: white;
    border: 1px solid white;
    color: black;
}

.footer{
    width: 100%;
    height: 500px;
    background-color: rgb(94, 93, 93);
    
}
.f-sec{
    width: 100%;
    height: 350px;
    background-color: rgb(21,21,21);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.f1{
    width: 30%;
    height: 300px;
    /* background-color: rgb(120, 112, 112); */
    

}
.f1 img{

    height: 50px;
    width: 220px;
}
.f1 h3{
    color: white;
    margin-top: 20px;
}
.f1 h3:hover{
    text-decoration: underline;
}
.f1 h4{
    color: white;
    margin-top: 20px;
}
.f1 h4:hover{
    text-decoration: underline;
}

.circle{
    height: 50px ;
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.circle1{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.circle1 i{
    font-size: 25px;
    color: white;
}
.circle1 i:hover{
    font-size: 25px;
    color: rgb(127, 124, 124);
    /* background-color: rgb(69, 67, 67); */
}
.circle2{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle2 i{
    font-size: 25px;
    color: white;
}
.circle2 i:hover{
    font-size: 25px;
    color: rgb(127, 124, 124);
    /* background-color: rgb(69, 67, 67); */
}
.circle3{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle3 i{
    font-size: 25px;
    color: white;
}
.circle3 i:hover{
    font-size: 25px;
    color: rgb(127, 124, 124);
    /* background-color: rgb(69, 67, 67); */
}
.circle4{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle4 i{
    font-size: 25px;
    color: white;
}
.circle4 i:hover{
    font-size: 25px;
    color: rgb(127, 124, 124);
    /* background-color: rgb(69, 67, 67); */
}
.circle5{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle5 i{
    font-size: 25px;
    color: white;
}
.circle5 i:hover{
    font-size: 25px;
    color: rgb(127, 124, 124);
    /* background-color: rgb(69, 67, 67); */
}
.list2{
    width: 20%;
    height: 350px;
    /* background-color: rgb(120, 112, 112); */
    padding: 20px;
}
.list2 h3{
    color: white;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.list2 ul{
    list-style: none;
    color: white;
    margin-top: 20px;
    
}
.list2 ul li{
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.list2 ul li:hover{
   text-decoration: underline;
}
.list3{
    width: 20%;
    height: 350px;
    /* background-color: rgb(120, 112, 112); */
}
.list3 h3{
    color: white;
    margin-top: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.list3 ul{
    list-style: none;
    color: white;
    margin-top: 20px;
    
}
.list3 ul li{
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.list3 ul li:hover{
   text-decoration: underline;
}
.list4{
    width: 20%;
    height: 350px;
    /* background-color: rgb(120, 112, 112); */
}
.list4 h3{
    color: white;
    margin-top: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.list4 ul{
    list-style: none;
    color: white;
    margin-top: 20px;
    
}
.list4 ul li{
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.list4 ul li:hover{
   text-decoration: underline;
}
.f-sec2{
    width: 100%;
    height: 150px;
    background-color: black;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.f-sec2 ul{
    display: flex;
    gap: 30px;
}
.f-sec2 ul li{
    color: white;
    font-size: 17px;

}
.f-sec2 ul li:hover{
  text-decoration: underline;

}


@media (max-width:768px) {
    .navbar{
        height: auto;
        width: 100%;
        background-color: green;
        position: fixed;
    }
    .nav1{
        display: none;

    }
    .nav2{
        height: 60px;
        width: 100%;
    }
    .nav2 ul{
        display: none;
    }
    .logo{
        width: 100%;
        height: auto;
        
    }
    .logo img{
        height: 50px;
        width: 190px;
    }
    .list{
        display: none;
    }
    .main-container{
        height: auto;
        width: 100%;
    }
    .container1{
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card{
        height: 500px;
        width: 90%;
    }
    .img1{
        height: 500px;
        width: 100%;
    }
    .img-1{
        width: 100%;
        height: 250px;
    }
    .img-1 a{
        font-size: 20px;
    }
    .img-2{
        width: 100%;
        height: 250px;
    }
    .container2{
        height: auto;
        width: 100%;
        padding: 40px;
        
    }
    .parts{
        height: auto;
        width: 100%;
        display: flex;
       
        flex-direction: column;
        margin-top: 30pxc;
   }
   .part1{
    width: 100%;
    height: 250px;
    /* margin-top: 50px; */
    
   }
   

   .text{
    padding: 30px;
   
   }

   .part2{
    width: 100%;
    height: 250px;
    border-left: none;
    margin-top: 50px;
   }
   .img2 img{
    bottom: 120px;
   }

   .container3{
    height: auto;
    width: 100%;
   }
   .card1{

    height: 130px;
    width: 90%;
    position: relative;
    top: 170px;
    left: 30px;

   }
   .card2{

    height: 130px;
    width: 90%;
    position: relative;
    top: 170px;
    left: 30px;

   }
   .card3{

    height: 130px;
    width: 90%;
    position: relative;
    top: 170px;
    left: 30px;

   }
   .container4{
    height: auto;
    width: 100%;
   }
   .paragraph{
    height: 400px;
    width: 100%;
   }
   .a1 a{
    font-size: 15px;

   }
   .a2 a{
    font-size: 15px;

   }
   .a3 a{
    font-size: 15px;

   }
   .a4 a{
    font-size: 15px;

   }
   .container5{
    height: auto;
    width: 100%;
   }
   .square-box{
    width: 100%;
    height: auto;
    flex-wrap:wrap ;
   }
   .squ-box1{
    width: 300px;
    height: 400px;
   }
   .squ-box2{
    width: 300px;
    height: 400px;
   }
   .squ-box3{
    width: 300px;
    height: 400px;
   }
   .squ-box4{
    width: 300px;
    height: 400px;
   }
   .container6{

    height: 300px;
    width: 100%;

   }
   .rectangle{
    width: 85%;
    height: 150px;
   }

   .rec-1 p{
    font-size: 10px;

   }
   .footer{
    width: 100%;
    height: auto;
   }
   .list2 ul li{
    font-size: 15px;

   }
   .list3 ul li{
    font-size: 15px;

   }
   .list4 ul li{
    font-size: 15px;

   }
   .f-sec2{
display: none;
   }    
}


@media (max-width:480px) {
    .navbar{
        width: 100%;

    }
    .main-container{
        width: 100%;
        height: auto;
    }
    .container1{
        width: 100%;
        height: auto;
    }
    .card{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }
    .container2{
        width: 100%;
        height: auto;
    }
    .parts{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .text{
        width: 100%;
        height: auto;
    }
    .img{
        width: 100%;
        height: auto;
    }
    .part1{
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text2{
        width: 100%;
        height: auto;
    }
    .img2{
       display: none;
    }
    .part2{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .container3{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .box-sec{
        width: 100%;
        height: 800px;
        display: flex;
        flex-wrap: wrap;
    }
   
    .box-1{
        width: 100%;
        height: auto;
        /* padding: 40px; */
        
       
    }
    .card1{
        height:auto;
    width: 80%;
    position: relative;
    top: 95px;
    left: 50;
    }
    .box-2{
        width: 100%;
        height: auto;
        /* padding: 40px; */
        
       
    }
    .card2{
        height:auto;
    width: 80%;
    position: relative;
    top: 95px;
    left: 50;
    }
    .box-3{
        width: 100%;
        height: auto;
        /* padding: 40px; */
        
       
    }
    .card3{
        height:auto;
    width: 80%;
    position: relative;
    top: 95px;
    left: 50;
    }
    .container4{
        height: auto;
        width: 100%;
    }
    .paragraph{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .para-sec1{
        height: 400px;
        width: 100%;
        padding: 0;
    }
    .para-sec2{
        height: 300px;
        width: 100%;
        margin: 0;
    }
    .para-sec2 hr{
        width: 100%;
        margin-bottom:30px ;
    } 

    .container6{
        height: auto;
        width: 100%;
        margin-top: 20px;
        padding: 30px;
        margin-bottom: 30px;
    }
    .rectangle{
        height: auto;
        width: 100%;
    }
    .rec-1 h1{
        font-size: 20px;

    }
    .footer{
        height: auto;
        width: 100%;
    }
    .f-sec{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .f1{
        height: auto;
        width: 100%;
        padding: 20px;
    }
    .list2{
        height: auto;
        width: 100%;
    }
    .list3{
        height: auto;
        width: 100%;
        padding: 20px;
    }
    .list4{
        height: auto;
        width: 100%;
        padding: 20px;
    }







    }
    

